/* globally removing all the padding and all margin in the elements */
*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* resetting the viewport font-size */
html{
    font-size: 62.5%;
}

/* body styling */
body{
    line-height: 1.8;
    font-family:Arial, Helvetica, sans-serif;
    background-color:  white;
}
/* header */
.heading{
    padding: 1.5rem 0;
    display: flex;
    position: sticky;
    top: 0;
    background-color:  rgb(255, 253, 245);
}

/* container styles */
.container{
    width: 80%;
    margin: auto;
    /* border: solid 2px; */
}
.flex-container{
    display: flex;
    align-items: center;
}
.sub-flex-container{
    display: flex;
    justify-content: space-between;
    /* border: solid 2px; */
    width: 100%;
   /* */
}
/* reducing the width of the navigation bar images */
.i4g-zuri-link{
    width: 35%;
}
.i4g-zuri{
    width: 100%;
}
.small-screen-btn,.big-screen-btn{
    display: flex;
    justify-content: space-between;
    height: 4.4rem;
    position: relative;
}
.small-thumb,.big-thumb{
    position: absolute;
    margin-left: -5rem;
    background-color: red;
    width:7.5rem;
    margin-top: -1rem;
    padding: 1rem;
    border-radius: 50%;
}
/* for big screens */
.navigation-links{
    display: none;
}
/* styling the link in the navigation */
/* globally */
a{
    text-decoration: none; 
}
/* styling for the small screens links or button */
.small-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    /* text-align: center; */
    border-radius: 10rem;
    padding: 1rem 3.2rem;
    font-size: 1.5rem;
    color: white;
}
@media(max-width:700px){
    .container{
        width: 90%;
    }
}
@media (min-width:804px){
    .small-screen-btn{
        display: none;
    }
    .navigation-links{
        display: flex;
        /* justify-content: center;
        margin: auto;
        align-content: center; */
        height: 4.4rem;
    }
    .about,.why-us,
    .stacks-covered{
        display: flex;
        justify-content: left;
        align-content: left;
        color: grey;
        font-size: 1.5rem;
        margin: 0 3.2rem 0 0;
        padding: .6rem .8rem;
    }
    .faqs{
        display: flex;
        justify-content: left;
        align-content: left;
        color: grey;
        font-size: 1.5rem;
        margin: 0 9.6rem 0 0;
        padding: .6rem .8rem;
    }
    .big-button{
        line-height: 1.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
        /* text-align: center; */
        border-radius: 10rem;
        padding: 1rem 3.2rem;
        font-size: 1.5rem;
        color: white;
    }
}

/* section-1 containers styling */
.section-1{
    /* border: solid 2px; */
    display: flex;
    /*  */
    border-bottom: .1rem solid grey;
}
.flex-section-1{
    display: flex;
    flex-direction: column;
}
.lady1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lady1-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-1-line{
    display: flex;
    justify-content: flex-end;
}
.section-1-main-content{
    /* border: solid 2px; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-1-curly-line{
    display: flex;
    width: 100%;
    justify-content: end;
}
/* .section1-lady1-image{
    padding: 1rem 0 0 2rem;
} */
/* text styling in section 1 */
.section-1-text-1{
    font-size: 1.8rem;
    color: #E9433B;
    text-align: center;
}
.section-1-text-2{
    line-height: 4rem;
    font-size: 3.7rem;
    padding: 1rem 0 0;
    font-weight: bold;
    text-align: center;
}
.section-1-text-3{
    font-size: 1.8rem;
    color: #747374;
    padding: 0 0 4rem;
    text-align: center;
    
}

/* link styling in section 1 */
.section-1-link{
    font-size: 1.8rem;
    padding: 1rem 2rem;
    background-color: red;
    color: white;
    border-radius: 10rem;
}
/* image styling in section 1 */
.lady1{
    width: 50%;
}
.curly-line{
    width: 25%;
    margin-bottom: 3.2rem;
}
.line{
    width: 50%;
}
.male1,.smallman{
    display: none;
}
/* 1st media query for the small man image */
@media (min-width:560px){
    .smallman{
        display: block;
        margin: -15rem 0 0 -25rem;
        /* width: 50%; */
    }
}

@media (min-width:960px){
.flex-section-1{
    flex-direction: row;
}
.male1{
    display: flex;
    width: 100%;
}
.section1-lady1-image{
    width: 50%;
}
.lady1{
    width: 100%;
}
.section-1-male1{
    width: 50%;
}
.section-1{
    padding: 20rem 0 0;
}
}

/* section 2 container styles */
.section-2{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    border-bottom: .1rem solid grey;
}
.section-2-div-1{
    display: flex;
    flex-direction: column;
}
.section-2-div-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.6rem 0 0 1.6rem;
}
.section-2-div-3{
    display: flex;
    flex-direction: column;
}
/* text styles in section 2 */
.section-2-text-1{
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    padding: 3rem 0 0;
}
.section-2-text-3{
    font-size: 1.6rem;
    color: #747374;
    text-align: right;
    padding: 3rem 0 4rem;
}
/* link styling in section 2 */
.section-2-link{
    text-decoration: underline;
    color: #6AB1C3;
}
/* image styling in section 3 */
.section-2-image{
    width: 50%; 
}

/* media query for section 2 */
@media (min-width:700px){
    .section-2{
        flex-direction: row;
        justify-content: space-between;
    }
    .section-2-div-1{
       width: 50%;
       padding: 1.6rem 0 0 1.6rem;
    }
    .section-2-div-2{
    width: 50%;
    padding: 1.6rem 0 0 1.6rem;
    }
    .section-2-div-3{
        width: 50%;
    }
    .section-2-text-1{
        text-align: left;
        padding: 1.6rem 0 0 1.6rem;
    }
}

/* section 3 container styles */
.flex-section-3{
    display: flex;
    flex-direction: column;
    padding: 3rem 0 0;
}
.content-1{
    
}
.section-3-curly-line{
    display: flex;
    justify-content: center;
    width: 100%;
}
/* text styling in section 3 */
.question{
font-size: 1.5rem;
color: #E9433B;
}
.answer{
font-size: 2rem;
font-weight: 700;
}
/* image styling in section 3 */
.star{
    display: none;
}
.curly-line-3{
    width: 20%;
}

/* media query for section 3 */
@media (min-width:960px){
    .star{
        display: block;
        width: 50%;
    }
    .flex-section-3{
        flex-direction: row;
    }
    .section-3-star{
        display: flex;
         width: 50%;
    }
    .star-image{
        display: flex;
        justify-content:end ;
    }
    /* text styling in section 3 */
.question{
    font-size: 2.4rem;
    color: #E9433B;
    }
    .answer{
    font-size: 3rem;
    font-weight: 700;
    }
    .content-1{
        width: 50%;
    }
}

/* section 4 container styling */
.section-4-card-content{
    padding: 58px 48px 93px 50px!important;
    box-shadow: 0 11px 22px rgb(231 51 43 / 10%);
}
.one{
   background-color: red;
   border-radius: 3rem;
}
.second{
   background-color: rgb(255, 253, 245);
   border-radius: 3rem;
}
.section-4-div-content{
    padding: 2.4rem 0 0 2.4rem; 
   /* border: solid 2px; */
    margin: 3rem 0 0;
   
}
.section-column-4-cards{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
/* text-styles */
.white{
    color: white;
}
.black{
    color: black;
}
.advantages-number{
    font-size: 6rem;
    font-weight: bold;
}
.advantages-content-1{
    line-height: 130%!important;
    font-size: 3rem;
    padding: 3.2rem 0 3.6rem;
    font-weight: 500;
}
.advantages-content-2{
    font-size: 1.3rem;
    line-height: 130%!important;
    font-weight: 100;

}
/* image styling in section 4 */
.section-4-image-1,
.section-4-image-2,
.section-4-image-3,
.section-4-image-4,
.section-4-image-5,
.section-4-image-6{
    margin: -5.8rem -4.9rem 0 0;
    width: 42%;
}
.section-4-image-1,
.section-4-image-2,
.section-4-image-3,
.section-4-image-4,
.section-4-image-5,
.section-4-image-6{
    display:flex;
    /* flex-direction: column; */
    float: right;
}
/* state styling in section 4 */
.section-4-card-content:hover{
    margin: -2rem 0 0 0;
    transition: .3s all ease-in-out;
}
/* media query for section 4 */
@media (min-width:700px) {
    .section-column-4-cards{
        /* justify-content: space-between; */
        flex-direction: row;
        flex-wrap: wrap;
    }  
    .section-4-div-content{
        flex-basis: 50%;
        flex-grow: 0;
        max-width: 50%;
    } 
}
@media (min-width:1000px) {
    .section-column-4-cards{
        /* justify-content: space-between; */
        flex-direction: row;
        flex-wrap: wrap;
    }  
    .section-4-div-content{
        flex-basis: 33.33%;
        flex-grow: 0;
        max-width: 33.33%;
    } 
}

/* section 5 image containers */
.section-5{
    background-color: red;
    margin: 14.9rem 0 0;
}
.section-5-image{
    display: flex;
    justify-content: end;
}
.section-5-content,.section-image-2{
    padding: 2.4rem 0 0 2.4rem;
}
.flex-section-5{
    display: flex;
    flex-direction: column;
}
.reasons{
    padding: 2.4rem 0 0 2.4rem;
    flex-grow: 0;
    flex-basis: 50%;
    max-width: 50%;
}
.reasons-btn{
    padding: 1.1rem .8rem 1.1rem 1.5rem;
    border-radius: 10rem;
    border: white .2rem solid;
    background-color: red;
    display: flex;
}
@media (min-width:900px){
    .reasons{
        flex-grow: 0;
        flex-basis: 25%;
        max-width: 25%;
    }
}
.section-5-why-zuri{
    display: flex;
    flex-wrap: wrap;
}
/* text styles in section 5 */
.section-5-small-text{
font-size: 1.6rem;
line-height: 130%;
color: white;
}
.section-5-big-text{
font-size: 3rem;
line-height: 130%;
color: white;
font-weight: bold;
}
.section-5-small-info{
font-size: 1.6rem;
color: white;
line-height: 130%;
padding: 3.5rem 0 0;
}
.btn-text{
    color: white;
    align-self: center;
}
/* image styling */
.section-5-curly-line{
    width: 23%;
}
.section-5-woman{
    width: 100%;
}
.icon-image-section-5{
    width:35%;
    padding: 0 .9rem 0 0;
}
/* enroll button in section 5 */
.section-5-enroll-btn{
    display: inline-block;
    background-color: white;
    padding: .8rem 2.8rem!important;
    margin: 4rem 0 3rem;
    border-radius:6rem;
    color: #E9433B;
    font-size: 1.6rem;
}

@media (min-width:1000px){
    .reasons{
        flex-grow: 0;
        flex-basis: 50%;
        max-width: 50%;
    }
    .flex-section-5{
        display: flex;
        flex-direction: row;
    }
    .section-5-content,.section-image-2{
        width: 50%;
    }
}

/* section 6 styling */
/* section 6 container */
.section-6{
    padding: 6.9rem 0 0;
    display: flex;
}
.section-6-text,
.section-6-empty{
    padding: 2.4rem 0 0 2.4rem;
    
}
/* text styling in section 6 */
.section-6-text-1{
    color: #E9433B;
    font-size: 1.8rem;
    font-weight: 100;
    line-height: 130%;
}
.section-6-text-2{
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 130%;
}
/* media query for section 6 */
@media(min-width:900px){
    .section-6-text,
    .section-6-empty{
        width: 50%;
        
    }
}
/* curly line in section 6*/
.div-curly-line-7{
    display: flex;
    justify-content: center;
}

/* section 7 styling */
/* section-7 container styling */
.section-7{
    display: flex;
    flex-direction: column;
}
.section-7-column-card{
    padding: 2.4rem 0 0  2.4rem;
    
}
.section-7-box-1,
.section-7-box-2,
.section-7-box-3,
.section-7-box-4,
.section-7-box-5,
.section-7-box-6{
    padding: 4rem;
    background-color:  rgb(255, 253, 245);
    box-shadow: 0 11px 22px rgb(231 51 43 / 10%);
    border-radius: 5rem;
}
.section-7-icon{
    display: flex;
}
/* text styles in section 7 */
.section-7-heading{
    font-size: 2.5rem;
    font-weight: 700;
    padding: 0 0 2rem;
}
.info{
    font-size: 1.5rem;
    font-weight: 200;
    padding: 4rem 0 3rem;
    margin: 0 0 .5rem;
}
/* image */
.section-7-info-icon{
    width: 50px;
    padding: 0 0 0 1.4rem;
}

/* media query for section 4 */
@media (min-width:700px) {
    .section-7{
        display: flex;
        flex-flow: row wrap;
    }
    .section-7-column-card{
        flex-grow: 0;
        flex-basis: 50%;
        max-width: 50%;
    }
}
@media (min-width:1000px) {
    /* .section-7{
        display: flex;
        flex-flow: row wrap;
    } */
    .section-7-column-card{
        flex-grow: 0;
        flex-basis: 33.33%;
        max-width: 33.33%;
    }
}

/* section 8 link styling */
.section-8-enroll-btn{
    background-color: red;
    color: white;
    font-size: 1.5rem;
    border-radius: 7rem;
    padding: 1rem 3.2rem;
    border-bottom: .1rem solid #747374;
}

/* section 9 styling */
/* container styling */
.section-9{
    padding: 4.9rem 0 0;
}
.section-9-curlywire{
    margin-left: 10%!important;
    margin-top: 10px!important;
}
.section-9-faqs{
    width:80%;
    margin: auto;
    padding-top: 5rem;
}
.faqs-main-content{

    padding: 2.4rem 0 0 2.4rem;
    display: flex;
    flex-direction: column;
}
.section-9-title{
border: .1rem solid #747374;
display: flex;
justify-content: space-between;
padding: 2rem;
}
.still-got-more-questions{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 70px;
}
/* text styling */
.section-9-question{
    font-size: 1.5rem;
    color: #E9433B;
    font-weight: 500;
    text-align: center;
}
.section-9-answer{
    font-size: 3.5rem;
    color: black;
    font-weight: bold;
    text-align: center;
}
.section-9-paragraph{
    font-size: 1.5rem;
    color: black;
}
.section-9-plus{
    font-weight: 700;
    color: black;
    font-size: 2rem;
}
.got-more-questions,.twitter-section-9{
    font-size: 1.5rem;
}
.got-more-questions,.twitter-section-9{
    align-self: center;
}
.got-more-questions{
    color: #747374;
}
.twitter-section-9{
    color: white;
}
/* image styling in section 9 */
.curlywire-image{
 width:15%;
}
.tweeter-icon-section-9{
    width: 35%;
    background-color: white;
    padding: 1rem;
    border-radius: 50%;
}
/* link buttons in section 9 */
.tweet-at-us{
    display: flex;
    background-color: red;
     border-radius: 7rem;
     justify-content: center;
     width:35%;
    
     padding: 10px 20px!important;
}
/* media query for section 9 */
@media (max-width:700px){
    .section-9-faqs{
        width:100%;
    }
}
@media (min-width:700px){
    .still-got-more-questions{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .tweet-at-us{
         width:25rem;
         padding: 1rem 2rem;
         margin: 0 0 0 1rem;
    }
    .tweeter-icon-section-9{
        width: 25%;
    }
}

/* section 10 styling */
/* section 10 container styling */
.section-10{
    /* position: relative; */
}
.curly-line-section-10{
    margin-left: 10%;
    margin-top: 1.4rem;
}
.section-10-grid-cards{
    display: flex;
    flex-direction: column;
}
.section-10-grid-cards-content{
    background-color: #1B1A20;
    padding: 6.4rem 4.8rem;
    border-radius: 7rem;
    height: 740px;
}
.section-10-flex-cards{
    /* display: flex; */
   padding-top: 4rem;
   padding-left: 4rem;
   
}
.section-10-hour,.section-10-time-image{
    display: flex;
    justify-content: end;
}
.section-10-flex-text{
    display: flex;
}
.section-10-grid-card-content-div-1{
    display: flex;
}
.section-10-grid-card-content-div-1{
    display: flex;
}
.section-10-grid-card-content-div-1,.section-10-grid-card-content-div-2,.section-10-grid-card-content-div-3{
    padding: 0 0 1.8rem;
}
/* text styles */
.section-10-heading{
    font-size: 3rem;
    font-weight: bold;
    color: white;
    line-height: 140%;
}
.section-10-sub-heading{
    font-size: 2rem;
    font-weight: 700;
    color: white;
    line-height: 140%;
}
.section-10-info{
    padding-bottom: 1.8rem;
}
.section-10-heading{
    padding-bottom: 1.8rem;
}
.section-10-asterisk{
    font-size: 1rem;
    font-weight: bold;
    color: white;
    align-self: center;
}
.section-10-benefit,.section-10-info,.section-10-grid-card-content-paragraph{
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
    align-self: center;
    line-height: 140%;
}
.training-section-10,
.design-section-10,
.project-section-10{
padding-bottom: 1rem;
}
.section-10-text-1{
    text-align: center;
    color: #E9433B;
    font-size: 1.6rem;
}
.section-10-text-2{
    text-align: center;
    color: black;
    font-size: 3rem;
    font-weight: 700;
}
.section-10-text-3{
    text-align: center;
    color: #747374;
    font-size: 1.6rem;
}
.zuri-internship{
    color: white;
    text-decoration: underline;
}
/* section 10 image styling */
.star-section-10-image,.curly-line-section-10-image{
    width: 25%;
}
.circle{
    width: 15%;
}
.star-section-10,.circle{
    display: none;
}
.hour-image,.time-image{
    width: 25%;
}

/* media query for section 10 */
@media (min-width:900px){
    .section-10-grid-cards{
       flex-direction: row;
    }
    .section-10-flex-cards{
        flex-grow: 0;
        flex-basis: 50%;
        max-width: 50%;
    }
    .star-section-10{
        display: flex;
        justify-content: flex-end;

    }
    .circle{
        display: flex;
        float: right;
        margin-right: -5.7rem!important;
        margin-top: -7.2rem!important;
        z-index: -1;
    }
}

/* section 11 styling */
/* container styling in section 11 */
.section-11{
    /* position: relative; */
    padding: 3rem 0 0;
}
.section-11-content{
    background-color: rgb(231 51 43);
    /* position: relative; */
    border-radius: 3rem;
}
.section-11-enroll-btn{
    display: flex;
    justify-content: center;
}
.section-11-curve-circle{
    display: flex;
    justify-content: space-between;
}
.section-11-curve-2{
    display: flex;
}
.section-11-circle-2{
    display: flex;
    justify-content: flex-end;
}
/* text styling */
.section-11-get-started{
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    padding-top: 7rem!important;
    width: 100%!important;
}
.section-11-break-into-tech{
    font-size: 3.6rem;
    font-style: normal;
    line-height: 130%;
    font-weight: 700;
    padding-top: 2.0rem;
    padding-bottom: 4.0rem;
    width: 75%;
    margin: auto;
    text-align: center;
}
/* enroll button styling in section 11 */
.section-11-enroll-link{
    background-color: black;
    color: #E9433B;
    padding: 1rem 2rem;
    border-radius: 6rem;
}
/* section 11 image styling */
.circle-image-section-11{
    display: none;
}
.circle-image-section-11,.mains,.bend-2{
    width: 15%;
}
.round{
    position: absolute;
    width: 10%;
    left: 11%;
    margin-top: 8.5rem;

}
.bend-1{
    position: absolute;
    width: 11%;
    right: 5%;
    z-index: -1;
}

@media (min-width:900px){
    .circle-image-section-11{
        display: block;
    }
}

/* footer styling */
.footer{
    padding: 3rem 0 4rem 0;
}
.footer-logo{
    display: flex;
    justify-content: space-between;
}
.section-12-begin-logo,.section-12-icon,.privacy-policy-ingressive,.div-copyright-text{
    padding: 2.4rem 0 0 2.4rem;
}
.section-12-end{
    display: flex;
    justify-content: end;
}
.section-12-copyright{
    display: flex;
    justify-content: space-between;
}
/* text styles */
.copyright-text{
    font-size: 1.5rem;
    color: #747374;
}
.copyright-text{
    font-size: 1.5rem;
    color: #747374;
}
.copyright-text{
    font-size: 1.5rem;
    color: #747374;
}
/* link styling */
.privacy,.ingressive{
    font-size: 1.5rem;
    color: #747374;
}
/* image styling */
.section-12-image-icon{
    padding: 0 0 0 .5rem;
}
.section-12-logo{
    width: 100%;
}








